//- dependencies
include ../price-tag/price-tag
include ../sale-tag/sale-tag

mixin showcase-item(s)
  li.showcase__item.grid__cell
    a.showcase__wrapper.h-block(href=s.url, title='Ver detalhes')
      if s.listPrice
        +sale-tag('sale')

      img.showcase__image(src=s.image, alt=s.name)

      section.showcase__info
        h3.showcase__name #{s.name}
        p.showcase__description #{s.description}

        .showcase__price-wrapper
          +price-tag(s, 'showcase__price')
