mixin price-tag(s, baseClass)
  .price-tag(class=baseClass)
    if s.listPrice
      p.price-tag__item.is-list R$ #{toPrice(s.listPrice)}
    p.price-tag__item.is-total.h-ib R$ #{toPrice(s.price)}
    p.price-tag__item.is-installment.h-ib ou #{s.times}x R$ #{toInstallment(s.price, s.times)}
