//- dependencies
include ../price-tag/price-tag

mixin product-description(s)
  .c-product-description
    h1.c-product-description__name #{s.name}
    p.c-product-description__description #{s.description}
    +price-tag(s, 'c-product-description__price')

    form
      input(type='hidden', name='id', value=s.id)

      if s.sizes
        .c-product-description__sizes-wrapper
          label
            span Tamanho
          select
            each size in s.sizes
              option(value=size) #{size}

      .c-product-description__controls
        button.c-button Add to bag
